#home {
  text-align: center;
  margin: 0;
  padding: 20px;
  animation: backgroundAnimation 10s infinite;
  height: 100vh;
}

#home > h1{
  font-size: 32px;
}

@keyframes backgroundAnimation {
  0% { background-color: #ffadad; }
  25% { background-color: #ffd6a5; }
  50% { background-color: #fdffb6; }
  75% { background-color: #caffbf; }
  100% { background-color: #9bf6ff; }
}

.animate-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 5s steps(40, end), blink-caret .75s step-end infinite;
  max-width: 100%;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

@media (max-width: 768px) {
  .animate-text {
    font-size: 1.5em;
    animation: none;
    white-space: normal;
    border-right: none; 
  }
}

@media (max-width: 576px) {
  .animate-text {
    font-size: 1.2em;
    animation: none;
    white-space: normal; 
    border-right: none;
  }
}
